.gridOrder {
    border: 1px solid rgb(212,212,212);
    width:  860px; 
    height:  350px;
}

.gridPayment {
    border: 1px solid rgb(212,212,212);
    width:  860px; 
    height:  350px;
}

.happyMelvin {
    border: solid 1px #000;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px;
    width: 900px;
    text-align: center;
    background-color: lightblue;
    display: inline-block;
    height: 600px;
}

.paymentButton {
    background: green;
    position: relative;
    width: 80px;
    height: 40px;
    top: 10px;
    color: white;
    border-radius: 20px;
}

.articleButton {
    background: red;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    top: 10px;
    color: white;
}

.checkOutInfo {
    color: black;
    position: absolute;
    left: 700px;
    text-align: right;
    font-size: x-large;
}